<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ../component/home/head %>

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <% include ../component/home/header %>
        <!-- Start main-content -->
        <div class="main-content">
            <section id="about" class="">
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">Về chúng tôi</h6>
                                <h2 class="text-uppercase font-weight-600 mt-0 font-28 line-bottom">Cổng thông tin Giáo
                                    dục Hướng nghiệp
                                    Việt</h2>
                                <h4> LỜI NGỎ
                                </h4>
                                <h5 class="text-theme-colored" style="font-family: sans-serif;text-align: justify;">
                                    Văn bằng, chứng chỉ là một công cụ định lượng kiến thức; thông qua văn bằng, chứng
                                    chỉ có thể biết được người đó có trình độ nào, chuyên ngành đào tạo là gì, xếp loại
                                    ra sao… Chúng ta vẫn phải sử dụng công cụ định lượng này để làm tiêu chuẩn lựa chọn
                                    nhân tài.
                                    Việc kết nối nhà tuyển dụng và người có nhu cầu việc làm chưa bao giờ là dễ dàng khi
                                    có những thông tin trái chiều và chưa kiểm soát chặt chẽ. Chúng tôi có tham vọng đưa
                                    người tìm việc và nhà tuyển dụng trực tiếp thấy nhau ở khoảng cách gần hơn. để làm
                                    được điều đó chúng tôi cần sự hỗ trợ đóng góp từ mọi người. </h5>
                                <p style="font-family: sans-serif;text-align: justify;">
                                    CỔNG THÔNG TIN GIÁO DỤC HƯỚNG NGHIỆP VPTS SỐ 3
                                    <br />
                                    Địa Chỉ: 181 Lê Đức Thọ, Phường 11, Quận Gò Vấp, TP.HCM
                                    <br />
                                    Email: hocvalam24h@gmail.com
                                    <br />
                                    Fax: 08.62 869333
                                    <br />
                                    Điện thoại: 0936 201 222 – 0916 001 078 </p>
                            </div>
                            <div class="col-md-6">
                                <img src="/public/images/About.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- end main-content -->
        </div>

        <!-- Footer -->
        <% include ../component/home/footer %>
        <% include ../component/home/script %>
        <!--
    <a class="scrollToTop" href="#"><i class="fas fa-angle-up"></i></a>
    -->
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->

    <!--Start of Tawk.to Script-->

    <!--End of Tawk.to Script-->
</body>

</html>