<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ../component/home/head %>

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <% include ../component/home/header %>
        <!-- Start main-content -->
        <div class="main-content">

            <section class="inner-header divider parallax layer-overlay overlay-dark-5"
                data-bg-img="/public/images/bg3.jpg">
                <div class="container pt-70 pb-20">
                    <!-- Section Content -->
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="title text-white">Bài viết theo lĩnh vực</h2>
                                <ol class="breadcrumb text-left text-black mt-10">
                                    <li><a href="#">Trang chủ</a></li>
                                    <li><a href="#">Khóa học</a></li>
                                    <li class="active text-gray-silver">Chi tiết</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container mt-30 mb-30 pt-30 pb-30">
                    <div class="row">
                        <div class="col-md-9 pull-right flip sm-pull-none">
                            <div class="blog-posts">
                                <div class="col-md-12">
                                    <div class="row list-dashed listBV">
                                        <% if(idLV != null){ %>
                                        <input type="hidden" id="idLV" value="<%= idLV%>">
                                        <% }else{ %>
                                        <h4>Không có bài viết</h4>
                                        <% }%> %>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="sidebar sidebar-right mt-sm-30">
                                <div class="widget">
                                    <h5 class="widget-title line-bottom">Lĩnh vực<span class="text-theme-color-2">Tin
                                            tức </span></h5>
                                    <ul class="list-divider list-border list check">
                                        <% if(listLV.length != 0){ %>
                                        <% listLV.forEach(function(ele){ %>
                                        <li><a href="/bai-viet/linh-vuc/<%= ele._id %>"><%= ele.ten %></a></li>
                                        <% })} %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <!-- end main-content -->
        </div>

        <!-- Footer -->
        <% include ../component/home/footer %>
        <% include ../component/home/script %>

        <a class="scrollToTop" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->

    <script>
        $(document).ready(function () {
            function showListBV(data) {
                var html = "";
                $.each(data, function (index, ele) {
                    html += "<article class='post clearfix mb-30 pb-30'>";
                    html += " <div class='entry-content border-1px p-20 pr-10'>";
                    html += " <div class='entry-meta media mt-0 no-bg no-border'>";
                    html += "    <div class='entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15'>";
                    html += "   <ul>";
                    html += ` <li class='font-16 text-white font-weight-600'>${ele.ngayTao}</li>`;
                    html += "</ul>";
                    html += "  </div>";
                    html += " <div class='media-body pl-15'>";
                    html += "  <div class='event-content pull-left flip'>";
                    html += "<h4 class='entry-title text-white text-uppercase m-0 mt-5'>";
                    html += `<a href="/tin-tuc/chi-tiet/${ele._id}">${ele.tieuDe}</a></h4>`;
                    html += "</div></div></div>";
                    html += `<p class="mt-10 fr-view">${ele.noiDung.slice(30, 250)}</p>`;
                    html += `<a href='/tin-tuc/chi-tiet/${ele._id}' class='btn btn-info'>Đọc thêm<i class="fas fa-info-circle pl-5"></i></a>`;
                    html += "<div class='clearfix'></div>";
                    html += "</div> </article>";
                });
                return html;
            };
            $('.blog-posts').pagination({
                totalNumber: function (done) {
                    var id = $('#idLV').val();
                    $.ajax({
                        type: 'GET',
                        url: '/bai-viet/linh-vuc/getList/' + id,
                        success: function (res) {
                            console.log(res.total);
                            done(res.total);
                        }
                    });
                },
                dataSource: function (done) {
                    var id = $('#idLV').val();
                    $.ajax({
                        type: 'GET',
                        url: '/bai-viet/linh-vuc/getList/' + id,
                        success: function (res) {
                            console.log(res.list);
                            done(res.list);
                        }
                    });
                },
                pageSize: 5,
                showNavigator: false,
                autoHidePrevious: true,
                autoHideNext: true,
                className: 'pagination theme-colored xs-pull-center m-0',
                classPrefix: 'email-list',
                ajax: {
                    beforeSend: function () {

                    }
                },
                callback: function (data, pagination) {
                    // template method of yourself
                    var html = showListBV(data);
                    $('.listBV').html(html);
                }
            });

        });
    </script>
</body>

</html>