<%
    let cate=[
        {link:'/dao-tao/ngan-han',name:'Đào tạo ngắn hạn',id:1}, {link:'/dao-tao/trung-cap',name:'Đào tạo trung cấp',id:2},
        {link:'/dao-tao/cao-dang',name:'Đào tạo cao đẳng',id:3}, {link:'/dao-tao/dai-hoc',name:'Đào tạo đại học',id:4},
        {link:'/dao-tao/xuat-khau-du-hoc',name:'Du học XKLD',id:6}
    ];

  let convertURL=function(str){
    str = str.toLowerCase();

    // xóa dấu
    str = str.replace(/(à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ)/g, 'a');
    str = str.replace(/(è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ)/g, 'e');
    str = str.replace(/(ì|í|ị|ỉ|ĩ)/g, 'i');
    str = str.replace(/(ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ)/g, 'o');
    str = str.replace(/(ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ)/g, 'u');
    str = str.replace(/(ỳ|ý|ỵ|ỷ|ỹ)/g, 'y');
    str = str.replace(/(đ)/g, 'd');

    // Xóa ký tự đặc biệt
    str = str.replace(/([^0-9a-z-\s])/g, '');

    // Xóa khoảng trắng thay bằng ký tự -
    str = str.replace(/(\s+)/g, '-');

    // xóa phần dự - ở đầu
    str = str.replace(/^-+/g, '');

    // xóa phần dư - ở cuối
    str = str.replace(/-+$/g, '');

    // return
    return str;
  };

%>
<%
  var listMenu=[
    {link:'/',name:'Trang chủ'},{link:'/dao-tao',name:'Đào tạo'},
    {
      link:'/tuyen-sinh',name:'Tuyển sinh',
      subMenu:[
      {
        link:'/tuyen-sinh/1',name:'Ngắn hạn'
      },
      {
        link:'/tuyen-sinh/2',name:'Trung cấp'
      },
      {
        link:'/tuyen-sinh/3',name:'Cao đẳng'
      },
      {
        link:'/tuyen-sinh/4',name:'Đại học'
      },
      {
        link:'/tuyen-sinh/6',name:'Du học xuất khẩu lao động'
      }
      ]
    },
    
    {link:'/bai-viet/linh-vuc/5d21a5a28ae8350a5088f73f',name:'Tin tức'},
    {link:'/thong-bao',name:'Thông báo'},
  ];


%>

<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ../component/home/head %>

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
       <%- include('../component/home/header',{listMenu}) %>
        <!-- Start main-content -->
        <div class="main-content">
            <section class="inner-header divider parallax layer-overlay overlay-dark-5"
                data-bg-img="/public/images/banner1.jpg">
                <div class="container pt-70 pb-20">
                    <!-- Section Content -->
                    <div class="section-content1">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="title text-white"><%= title %></h2>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="news">
                <div class="container">
                    <div class="section-content">
                        <div class="row listDT">
                            <input type="hidden" id="idDT" name="idDT" value="<%= id %>">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <% include ../component/home/footer %>
            <% include ../component/home/script %>
            <script>
                $(document).ready(function () {
                    function convertURL(str) {
                        str = str.toLowerCase();

                        // xóa dấu
                        str = str.replace(/(à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ)/g, 'a');
                        str = str.replace(/(è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ)/g, 'e');
                        str = str.replace(/(ì|í|ị|ỉ|ĩ)/g, 'i');
                        str = str.replace(/(ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ)/g, 'o');
                        str = str.replace(/(ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ)/g, 'u');
                        str = str.replace(/(ỳ|ý|ỵ|ỷ|ỹ)/g, 'y');
                        str = str.replace(/(đ)/g, 'd');

                        // Xóa ký tự đặc biệt
                        str = str.replace(/([^0-9a-z-\s])/g, '');

                        // Xóa khoảng trắng thay bằng ký tự -
                        str = str.replace(/(\s+)/g, '-');

                        // xóa phần dự - ở đầu
                        str = str.replace(/^-+/g, '');

                        // xóa phần dư - ở cuối
                        str = str.replace(/-+$/g, '');

                        // return
                        return str;
                    };
                    function showListDT(data) {
                        var html = "";
                        $.each(data, function (index, ele) {
                            html += `<div class="col-sm-6 col-md-3">`;
                            html += `<article class="post clearfix mb-30 bg-lighter">`;
                            html += `<div class="entry-header">`;
                            html += `<div class="post-thumb thumb">`;
                            html += `<img src="/public/uploads/${ele.banner}" alt="" class="img-responsive img-fullwidth" style="height: 170px;"></div>`;
                            html += `</div>`;
                            html += `<div class="entry-content p-15 pt-10 pb-10 content-dt">`;
                            html += `<div class="entry-meta media no-bg no-border mt-0 mb-10">`;
                            html += `<div class="media-body pl-0">`;
                            html += `<div class="event-content pull-left flip">`;
                            html += ` <h5 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">`;
                            html += ` <a href="/tuyen-sinh/chi-tiet/${convertURL(ele.tenBV)}.${ele._id}" style="text-align: justify;">${ele.tenBV}</a></h5>`;
                            html += ` <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-clock text-theme-color-2 mr-5"></i>${ele.ngayTao}</span>`;
                            html += ` </div> </div> </div>`;
                            html += ` <span style="text-align: justify;font-size:13px;"> <p class="mt-5">${ele.noiDung.slice(0, 100)}...<a class="text-theme-color-2 font-12 ml-5" href="/dao-tao/chi-tiet/${convertURL(ele.tenBV)}.${ele._id}"> Xem thêm</a></p>`;
                            html += `   </div></article></div>`;
                        });
                        return html;
                    };

                    $('.section-content').pagination({
                        totalNumber: function (done) {
                            var id = $('#idDT').val();
                            $.ajax({
                                type: 'GET',
                                url: '/dao-tao/getlist/' + id,
                                success: function (res) {
                                    console.log(res.total);
                                    done(res.total);
                                }
                            });
                        },
                        dataSource: function (done) {
                            var id = $('#idDT').val();
                            $.ajax({
                                type: 'GET',
                                url: '/dao-tao/getlist/' + id,
                                success: function (res) {
                                    console.log("hello");
                                    done(res.list);
                                }
                            });
                        },
                        pageSize: 12,
                        showNavigator: false,
                        autoHidePrevious: true,
                        autoHideNext: true,
                        className: '',
                        classPrefix: 'pagination theme-colored xs-pull-center m-0',
                        ajax: {
                            beforeSend: function () {

                            }
                        },
                        callback: function (data, pagination) {
                            // template method of yourself
                            var html = showListDT(data);
                            $('.listDT').html(html);
                        }
                    });
                })
            </script>
        </div>
        <!-- end wrapper -->

        <!-- Footer Scripts -->


</body>

</html>