<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <title>:: SmartEdu :: Đăng nhập</title>
    <!-- Favicon-->
    <link rel="Shortcut Icon" href="/public/images/favicon.png"> <!-- Favicon-->
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="public/stylesheets/main.css">
    <link rel="stylesheet" href="public/stylesheets/color_skins.css">
</head>

<body class="theme-purple">
    <div class="authentication">
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                        <div class="company_detail">
                                <h4 class="logo"><img src="public/images/logo-white.png" alt="Logo" width="150"> SmartEdu</h4>
                                <h3>Cùng kết nối và chia sẻ kiến thức cho mọi nguời  <strong> </strong></h3>
                               
                            <div class="footer">

                                <hr>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 offset-lg-1">
                        <div class="card-plain">
                            <div class="header">
                                <h5>ĐĂNG NHẬP</h5>
                            </div>
                            <form class="form" method="POST" action="/login-partner">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="username" placeholder="Tên tài khoản">
                                    <span class="input-group-addon"></span>
                                </div>
                                <div class="input-group">
                                    <input type="password" name="password" placeholder="Mật khẩu"
                                        class="form-control" />
                                    <span class="input-group-addon"></span>
                                </div>
                                <div class="footer">
                                    <button type="submit" class="btn btn-primary btn-round btn-block">ĐĂNG NHẬP</button>
                                    <a href="/signup-partner"
                                        class="btn btn-primary btn-simple btn-round btn-block">ĐĂNG KÝ</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="particles-js"></div>
    </div>
    <!-- Jquery Core Js -->
    <script src="public/js/libscripts.bundle.js"></script>
    <script src="public/js/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script src="public/js/particles.min.js"></script>
    <script src="public/js/particles.js"></script>
</body>

</html>