<!doctype html>
<html class="no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>:: SmartEdu :: Đăng ký</title>
    <!-- Favicon-->
    <link rel="Shortcut Icon" href="/public/images/favicon.png"> <!-- Favicon-->
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="public/stylesheets/main.css">
    <link rel="stylesheet" href="public/stylesheets/color_skins.css">
</head>

<body class="theme-purple">
    <div class="authentication">
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                        <div class="company_detail">
                            <h4 class="logo"><img src="public/images/logo-riam.png"  style="width: 50%;" alt="Logo"></h4>
                            <h3>Cùng kết nối và chia sẻ kiến thức cho mọi nguời  <strong> </strong></h3>
                         
                            <div class="footer">

                                <hr>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 offset-lg-1">
                        <div class="card-plain">
                            <div class="header">
                                <h5>Đăng ký</h5>
                                <span>Đăng ký làm cộng tác viên</span>
                            </div>
                            <form class="form" method="POST" method="/signup-partner">
                                <div class="input-group">
                                    <input type="text" name="tenDV" placeholder="Nhập tên tổ chức"
                                        class="form-control" />
                                    <span class="input-group-addon"></span>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="username"
                                        placeholder="Nhập tên tài khoản">
                                    <span class="input-group-addon"></span>
                                </div>
                                <div class="input-group">
                                    <input type="email" class="form-control" name="email" placeholder="Nhập Email">
                                    <span class="input-group-addon"></span>
                                </div>
                                <div class="input-group">
                                    <input type="password" name="password" placeholder="Nhập mật khẩu"
                                        class="form-control" />
                                    <span class="input-group-addon"></span>
                                </div>
                              
                                <div class="footer">
                                    <button type="submit" class="btn btn-primary btn-round btn-block">ĐĂNG KÝ</button>
                                   
                                </div>
                            </form>
                            X
                            <a class="link" href="/login-partner">Bạn đã có tài khoản?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="particles-js"></div>
    </div>

    <!-- Jquery Core Js -->
    <script src="public/js/libscripts.bundle.js"></script>
    <script src="public/js/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script src="public/js/particles.min.js"></script>
    <script src="public/js/particles.js"></script>
</body>

</html>