<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ../component/home/head %>

<body class="">
  <div id="wrapper" class="clearfix">
    <!-- preloader -->
    <% include ../component/home/header %>
    <!-- Start main-content -->
    <div class="main-content">

      <!-- Section: home -->
      <section id="home" class="divider">
        <div class="container-fluid p-0">

          <!-- Slider Revolution Start -->
          <div class="rev_slider_wrapper">
            <div class="rev_slider" data-version="5.0">
              <ul>

                <!-- SLIDE 1 -->
                <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                  data-easein="default" data-easeout="default" data-masterspeed="default"
                  data-thumb="/public/images/bnner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 1"
                  data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/public/images/bnner.jpg" alt="" data-bgposition="center 10%" data-bgfit="cover"
                    data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway" id="rs-1-layer-1"
                    data-x="['left']" data-hoffset="['30']" data-y="['middle']" data-voffset="['-110']"
                    data-fontsize="['100']" data-lineheight="['110']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:700;">TUYỂN SINH
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div
                    class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-left-theme-color-2-6px pl-20 pr-20"
                    id="rs-1-layer-2" data-x="['left']" data-hoffset="['35']" data-y="['middle']" data-voffset="['-25']"
                    data-fontsize="['35']" data-lineheight="['54']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:600;">ĐĂNG KÝ KHÓA HỌC MỌI NƠI
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-resizeme text-white" id="rs-1-layer-3" data-x="['left']"
                    data-hoffset="['35']" data-y="['middle']" data-voffset="['35']" data-fontsize="['16']"
                    data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Chúng tôi cung cấp
                    dịch vụ đăng tin tuyển sinh đa dạng, nhanh chóng<br> Hãy đăng ký làm cộng tác viên ngay nào..
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption tp-resizeme" id="rs-1-layer-4" data-x="['left']" data-hoffset="['35']"
                    data-y="['middle']" data-voffset="['100']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a
                      class="btn btn-colored btn-lg btn-flat btn-theme-colored border-left-theme-color-2-6px pl-20 pr-20"
                      href="/signup-partner">Đăng ký ngay</a>
                  </div>
                </li>

                <!-- SLIDE 2 -->
                <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                  data-easein="default" data-easeout="default" data-masterspeed="default"
                  data-thumb="/public/images/banner1.jpg" data-rotate="0" data-saveperformance="off"
                  data-title="Slide 2" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/public/images/banner1.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover"
                    data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div
                    class="tp-caption tp-resizeme text-uppercase  bg-dark-transparent-5 text-white font-raleway border-left-theme-color-2-6px border-right-theme-color-2-6px pl-30 pr-30"
                    id="rs-2-layer-1" data-x="['center']" data-hoffset="['0']" data-y="['middle']"
                    data-voffset="['-90']" data-fontsize="['28']" data-lineheight="['54']" data-width="none"
                    data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">Tích lũy kiến thức
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div
                    class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                    id="rs-2-layer-2" data-x="['center']" data-hoffset="['0']" data-y="['middle']"
                    data-voffset="['-20']" data-fontsize="['48']" data-lineheight="['70']" data-width="none"
                    data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">Gặt hái thành công
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-resizeme text-white text-center" id="rs-2-layer-3" data-x="['center']"
                    data-hoffset="['0']" data-y="['middle']" data-voffset="['50']" data-fontsize="['16']"
                    data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">Bạn có thể tìm thấy
                    những khóa học phù hợp với bản thân<br> try to achieve our client's trust and satisfaction.
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption tp-resizeme" id="rs-2-layer-4" data-x="['center']" data-hoffset="['0']"
                    data-y="['middle']" data-voffset="['115']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a
                      class="btn btn-default btn-circled btn-transparent pl-20 pr-20" href="#">Apply Now</a>
                  </div>
                </li>

                <!-- SLIDE 3 -->
                <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default"
                  data-easein="default" data-easeout="default" data-masterspeed="default"
                  data-thumb="/public/images/banner2.jpg" data-rotate="0" data-saveperformance="off"
                  data-title="Slide 3" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/public/images/banner2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div
                    class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-right-theme-color-2-6px pr-20 pl-20"
                    id="rs-3-layer-1" data-x="['right']" data-hoffset="['30']" data-y="['middle']"
                    data-voffset="['-90']" data-fontsize="['64']" data-lineheight="['72']" data-width="none"
                    data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:600;">
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div
                    class="tp-caption tp-resizeme text-uppercase bg-dark-transparent-6 text-white font-raleway pl-20 pr-20"
                    id="rs-3-layer-2" data-x="['right']" data-hoffset="['35']" data-y="['middle']"
                    data-voffset="['-25']" data-fontsize="['32']" data-lineheight="['54']" data-width="none"
                    data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;s:500"
                    data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 7; white-space: nowrap; font-weight:600;">
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-resizeme text-white text-right" id="rs-3-layer-3" data-x="['right']"
                    data-hoffset="['35']" data-y="['middle']" data-voffset="['30']" data-fontsize="['16']"
                    data-lineheight="['28']" data-width="none" data-height="none" data-whitespace="nowrap"
                    data-transform_idle="o:1;s:500" data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                    data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption tp-resizeme" id="rs-3-layer-4" data-x="['right']" data-hoffset="['35']"
                    data-y="['middle']" data-voffset="['95']" data-width="none" data-height="none"
                    data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1400" data-splitin="none"
                    data-splitout="none" data-responsive_offset="on"
                    style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a
                      class="btn btn-colored btn-lg btn-flat btn-theme-colored btn-theme-colored border-right-theme-color-2-6px pl-20 pr-20"
                      href="#"></a>
                  </div>
                </li>

              </ul>
            </div>
            <!-- end .rev_slider -->
          </div>
          <!-- end .rev_slider_wrapper -->
          <script>
            $(document).ready(function (e) {
              $(".rev_slider").revolution({
                sliderType: "standard",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 5000,
                navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  },
                  arrows: {
                    style: "zeus",
                    enable: true,
                    hide_onmobile: true,
                    hide_under: 600,
                    hide_onleave: true,
                    hide_delay: 200,
                    hide_delay_mobile: 1200,
                    tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                    left: {
                      h_align: "left",
                      v_align: "center",
                      h_offset: 30,
                      v_offset: 0
                    },
                    right: {
                      h_align: "right",
                      v_align: "center",
                      h_offset: 30,
                      v_offset: 0
                    }
                  },
                  bullets: {
                    enable: true,
                    hide_onmobile: true,
                    hide_under: 600,
                    style: "metis",
                    hide_onleave: true,
                    hide_delay: 200,
                    hide_delay_mobile: 1200,
                    direction: "horizontal",
                    h_align: "center",
                    v_align: "bottom",
                    h_offset: 0,
                    v_offset: 30,
                    space: 5,
                    tmp: '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                  }
                },
                responsiveLevels: [1240, 1024, 778],
                visibilityLevels: [1240, 1024, 778],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [650, 768, 960, 720],
                lazyType: "none",
                parallax: {
                  origo: "slidercenter",
                  speed: 1000,
                  levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                  type: "scroll"
                },
                shadow: 0,
                spinner: "off",
                stopLoop: "on",
                stopAfterLoops: 0,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                fullScreenAutoWidth: "off",
                fullScreenAlignForce: "off",
                fullScreenOffsetContainer: "",
                fullScreenOffset: "0",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
                }
              });
            });
          </script>
          <!-- Slider Revolution Ends -->

        </div>
      </section>

      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="widget-title title-dots"><span>Nội dung đào tạo</span></h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet voluptatibus fugit aliquid fuga repudiandae ducimus</p>
                    </div>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet voluptatibus fugit aliquid fuga repudiandae ducimus</p>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/90x60" alt=""></a>
                    <div class="post-right">
                      <h5 class="post-title mt-0 mb-5"><a class="font-13" href="#">Lorem ipsum dolor sit adipisicing</a></h5>
                      <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                    </div>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/90x60" alt=""></a>
                    <div class="post-right">
                      <h5 class="post-title mt-0 mb-5"><a class="font-13" href="#">Lorem ipsum dolor sit adipisicing</a></h5>
                      <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                    </div>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/90x60" alt=""></a>
                    <div class="post-right">
                      <h5 class="post-title mt-0 mb-5"><a class="font-13" href="#">Lorem ipsum dolor sit adipisicing</a></h5>
                      <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                    </div>
                  </article>
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/90x60" alt=""></a>
                    <div class="post-right">
                      <h5 class="post-title mt-0 mb-5"><a class="font-13" href="#">Lorem ipsum dolor sit adipisicing</a></h5>
                      <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                    </div>
                  </article>
                </div>
              </div>
              <hr>
              <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <h4 class="widget-title title-dots mt-30"><span>Tuyển sinh trung cấp</span></h4>
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/460x310" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a href="#">consectetur adipisicing elit.</a></h5>
                          <ul class="list-inline font-12 mb-20 mt-10">
                            <li><i class="fa fa-calendar text-theme-color-2 mr-5"></i> 9/9/2015 </li>
                            <li><i class="fa fa-comments-o text-theme-color-2 ml-5 mr-5"></i> 5 comments</li>
                          </ul>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, temporibus dignissimos.</p>
                          <ul class="list-inline like-comment pull-left flip font-12">
                            <li><i class="pe-7s-comment"></i>36</li>
                            <li><i class="pe-7s-like2"></i>125</li>
                          </ul>
                          <a href="#" class="pull-right flip text-gray font-13"><i class="fa fa-angle-double-right text-theme-color-2"></i> Read more</a>
                          <div class="clearfix"></div>
                        </div>
                      </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <h4 class="widget-title title-dots mt-30"><span>Tuyển sinh cao đẳng</span></h4>
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/460x310" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a href="#">consectetur adipisicing elit.</a></h5>
                          <ul class="list-inline font-12 mb-20 mt-10">
                            <li><i class="fa fa-calendar text-theme-color-2 mr-5"></i> 9/9/2015 </li>
                            <li><i class="fa fa-comments-o text-theme-color-2 ml-5 mr-5"></i> 5 comments</li>
                          </ul>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, temporibus dignissimos.</p>
                          <ul class="list-inline like-comment pull-left flip font-12">
                            <li><i class="pe-7s-comment"></i>36</li>
                            <li><i class="pe-7s-like2"></i>125</li>
                          </ul>
                          <a href="#" class="pull-right flip text-gray font-13"><i class="fa fa-angle-double-right text-theme-color-2"></i> Read more</a>
                          <div class="clearfix"></div>
                        </div>
                      </article>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">                  
                      <h4 class="widget-title title-dots mt-30"><span>Tuyển sinh dài hạn</span></h4>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                  </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="widget-title title-dots mt-30"><span>Tuyển sinh ngắn hạn</span></h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">                  
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="widget-title title-dots mt-30"><span>Tuyển sinh dài hạn</span></h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">                  
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <article class="post media-post clearfix pb-0 mb-10">
                    <a class="post-thumb" href="#"><img src="http://placehold.it/185x145" alt=""></a>
                    <div class="post-right">
                      <h5 class="entry-title text-uppercase mt-0 mb-5"><a href="#">consectetur adipisicing</a></h5>
                      <p class="post-date mb-10 font-12">By Admin, 29 Aug 2012</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium magnam impedit amet consectetur adipisicing</p>
                    </div>
                  </article>
                </div>
              </div>
              <hr>
              <div class="row">
                    <div class="col-md-12">                  
                      <h4 class="widget-title title-dots mt-30"><span>Du học xuất khẩu lao động</span></h4>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <article class="post mb-30">
                        <div class="entry-header">
                          <div class="post-thumb">
                           <img class="img-fullwidth img-responsive" src="http://placehold.it/215x160" alt=""> 
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="entry-content">
                          <h5 class="entry-title text-uppercase mt-0"><a class="font-13" href="#">consectetur adipisicing</a></h5>
                          <p class="post-date mb-0 font-12">By Admin, 29 Aug 2012</p>
                        </div>
                      </article>
                    </div>
                  </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="sidebar sidebar-left mt-sm-30">
                <div class="widget">
                  <h5 class="widget-title title-dots small"><span>Tìm kiếm</span></h5>
                  <div class="search-form">
                    <form>
                      <div class="input-group">
                        <input type="text" placeholder="Nhập từ khóa" class="form-control search-input">
                        <span class="input-group-btn">
                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="widget">
                  <h5 class="widget-title title-dots small"><span>Thông báo mới</span></h5>
                  <div class="latest-posts">
                    <article class="post media-post clearfix pb-0 mb-5">
                      <a class="post-thumb" href="#"><img src="http://placehold.it/70x70" alt=""></a>
                      <div class="post-right">
                        <h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-5">
                      <a class="post-thumb" href="#"><img src="http://placehold.it/70x70" alt=""></a>
                      <div class="post-right">
                        <h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10">
                      <a class="post-thumb" href="#"><img src="http://placehold.it/70x70" alt=""></a>
                      <div class="post-right">
                        <h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="widget">
                  <img class="img-fullwidth" src="/public/images/dang-ky.gif" alt="">
                </div>
                <div class="widget">
                  <h5 class="widget-title title-dots small"><span>Tin nổi bật</span></h5>
                  <div class="latest-posts">
                    <article class="post media-post clearfix pb-0 mb-5">
                      <a class="post-thumb" href="#"><img src="http://placehold.it/70x70" alt=""></a>
                      <div class="post-right">
                        <h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-5">
                      <a class="post-thumb" href="#"><img src="http://placehold.it/70x70" alt=""></a>
                      <div class="post-right">
                        <h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                    <article class="post media-post clearfix pb-0 mb-10">
                      <a class="post-thumb" href="#"><img src="http://placehold.it/70x70" alt=""></a>
                      <div class="post-right">
                        <h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>
                        <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="widget">
                  <h5 class="widget-title title-dots small"><span>Thư viện ảnh</span></h5>
                  <div id="flickr-feed" class="clearfix">
                    <!-- Flickr Link -->
                    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">
                    </script>
                  </div>
                </div>
                        
              
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- end main-content -->
    </div>

    <!-- Footer -->
    <% include ../component/home/footer %>
    <% include ../component/home/script %>

  </div>
  <!-- end wrapper -->

  <!-- Footer Scripts -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5d2d8c3fbfcb827ab0cbfdab/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>