<footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="/public/images/banner.jpg">
  <div class="container">
    <div class="row border-bottom">
      <div class="col-sm-6 col-md-4">
        <div class="widget dark">
          <img class="mt-5 mb-20" alt="" src="/public/images/dt1.png">
          <img class="mt-5 mb-20" alt="" src="/public/images/dt2.png">
          <h5 class="text-white">BÁO VỀ CHÚNG TÔI</h5>
          <div class="doiTac">
            <img src="/public/images/tt.jpg" alt="">
            <img src="/public/images/sg.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="widget dark">
          <h3 class="text-white">VIỆN NGHIÊN CỨU QUẢN LÝ HÀNH CHÍNH</h3>
          <p class="text-white">Địa chỉ: 181, Lê Đức Thọ, phường 17, quận Gò Vấp, TP.HCM</p>
          <ul class="list-inline mt-5">
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">0936 201 222 – 0916 001 078</a> </li>
            <li class="m-0 pl-10 pr-10"> <i class="far fa-envelope text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">hocvalam24h@gmail.com</a> </li>
            <li class="m-0 pl-10 pr-10 " style="display:block;"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">riam.edu.vn</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Friam.edu.vn&amp;tabs=timeline&amp;width=340&amp;height=400&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=814617275563286" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowransparency="true" allow="encrypted-media"></iframe>
      </div>
     
    
    
    </div>
   
  </div>
  <div class="footer-bottom bg-black-333">
    <div class="container pt-20 pb-20">
      <div class="row">
        <div class="col-md-6">
          <p class="font-11 text-black-777 m-0">Copyright &copy; 2019 Viện Nghiên Cứu Quản Lý Hành Chính</p>
        </div>
      </div>
    </div>
  </div>
</footer>