<head>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="Shortcut Icon" href="/public/images/favicon.png"> <!-- Favicon-->

  <!-- Page Title -->
  <title>SmartEdu</title>


  <!-- Stylesheet -->
  <link href="/public/lib/home/bootstrap.min.css" rel="stylesheet">
  <link href="/public/lib/home/utility-classes.css" rel="stylesheet">
  <link href="/public/lib/colors/theme-skin-color-set-1.css" rel="stylesheet">
  <link href="/public/js/jquery-ui.css" rel="stylesheet">
  <link href="/public/stylesheets/animate.css" rel="stylesheet">
  <link href="/public/stylesheets/css-plugin-collections.css" rel="stylesheet" />
  <link rel="stylesheet" href="/public/fontawesome/css/all.css">
  <!-- CSS | menuzord megamenu skins -->
  <link id="menuzord-menu-skins" href="/public/lib/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
  <!-- CSS | Main style file -->
  <link href="/public/stylesheets/style-main.css" rel="stylesheet">
  <!-- CSS | Preloader Styles -->
  <link href="/public/stylesheets/preloader.css" rel="stylesheet">
  <!-- CSS | Custom Margin Padding Collection -->
  <link href="/public/stylesheets/custom-bootstrap-margin-padding.css" rel="stylesheet">
  <!-- CSS | Responsive media queries -->
  <link href="/public/stylesheets/responsive.css" rel="stylesheet">
  <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
  <!-- <link href="css/style.css" rel="stylesheet" > -->

  <!-- Revolution Slider 5.x CSS settings -->
  <link href="/public/lib/revolution-slider/css/settings.css" rel="stylesheet" />
  <link href="/public/lib/revolution-slider/css/layers.css" rel="stylesheet" />
  <link href="/public/lib/revolution-slider/css/navigation.css" rel="stylesheet" />
  
  <link rel="stylesheet" href="/public/admin/flo/css/froala_editor.pkgd.min.css"  />
  <link rel="stylesheet" href="/public/admin/flo/css/froala_style.min.css" type="text/css" />

  <link rel="stylesheet" href="/public/lib/sweetalert/sweetalert.css" />

  <!-- CSS | Theme Color -->
  <link href="/public/lib/colors/theme-skin-color-set-1.css" rel="stylesheet">

  <!-- external javascripts -->
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/jquery-ui.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <!-- JS | jquery plugin collection for this theme -->
  <script src="/public/js/jquery-plugin-collection.js"></script>

  <!-- Revolution Slider 5.x SCRIPTS -->
  <script src="/public/lib/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
  <script src="/public/lib/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

  <link rel="stylesheet" href="/public/stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="/public/stylesheets/owl.theme.default.min.css">
</head>