<!-- Header -->
<header id="header" class="header">
    <div class="header-top bg-theme-color-2 sm-text-center p-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget no-border m-0">
                        <ul class="list-inline font-13 sm-text-center mt-5">
                            <li>
                                <a class="text-white" href="#">Giảng Viên</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a class="text-white" href="#">Học viên</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a class="text-white" href="http://www.riam.edu.vn/gioi-thieu/">Về chúng tôi</a>
                            </li>
                      
                            <li class="text-white">|</li>
                            <li>
                                <a class="text-white" href="http://www.riam.edu.vn/lien-he/">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle p-0 bg-lightest xs-text-center">
        <div class="container pt-0 pb-0">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-5">
                    <div class="widget no-border m-0">
                        <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="javascript:void(0)"><img
                                src="/public/images/logo-riam.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                        <ul class="list-inline">
                            <li class="sm-display-block"><i class="fas fa-phone-square font-36 mt-5 sm-display-block"></i></li>
                            <li class="sm-display-block">
                                <a href="#" class="font-12 text-gray text-uppercase "> Liên hệ </a>
                                <h5 class="font-14 m-0"> (028)62 869 333</h5>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
                        <ul class="list-inline">
                            <li><i class="far fa-envelope font-36 mt-5 sm-display-block"></i></li>
                            <li>
                                <a href="#" class="font-12 text-gray text-uppercase">Địa chỉ email</a>
                                <h5 class="font-13 text-black m-0"> hocvalam24h@gmail.com</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
            <div class="container">
                <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
                    <ul class="menuzord-menu onepage-nav">
                        <li class="active"><a href="/">Trang chủ</a></li>
                        <li><a href="/khoa-hoc/linh-vuc/5d21a5a28ae8350a5088f73f">Đào tạo</a></li>
                        <li><a href="">Tuyển sinh</a></li>
                        <li><a href="/bai-viet/linh-vuc/5d21a5a28ae8350a5088f73f">Tin tức</a></li>
                    </ul>
                    <ul class="pull-right flip hidden-sm hidden-xs">
                        <li>
                            <% if(typeof user == "undefined"){ %>
                            <!-- Modal: donate now Starts -->
                            <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15"
                                href="/login-partner">Đăng nhập</a>
                            <!-- Modal: donate now End -->
                            <% } else{%>
                            <% user.forEach(function(ele,i){ %>
                            <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15"
                                href="/partner">Xin chào ! <%= ele.tenDV %>
                                <small class="display-block">Nhấm vào để vào trang quản lý</small>
                                </a>
                            <% })} %>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
</header>
