<section class="content">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body block-header">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-12">
                                <h2>Quản lý đơn đăng ký học viên</h2>
                                <ul class="breadcrumb p-l-0 p-b-0 ">
                                    <li class="breadcrumb-item"><a href="/partner"><i class="fas fa-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item ">Trang chủ</li>
                                    <li class="breadcrumb-item active">Đơn đăng ký</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="body project_report">
                        <div class="table-responsive">
                            <table class="table m-b-0 table-hover">
                                <thead>
                                    <tr>
                                        <th>Trang thai</th>
                                        <th>Ten </th>
                                        <th>Ngay dang ky</th>
                                        <th>Khoa hoc</th>
                                        <th>Xu ly</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <% if(listDK !== null ){%> 
                                    <% listDK.forEach(function(ele){%> 
                                    <% if(ele.dk !== null ){%> 
                                        <% ele.dk.forEach(function(val){%> 

                                    <tr>
                                        <td>
                                            <span class="badge badge-info">Cho</span>
                                        </td>
                                        <td class="project-title">
                                            <h6><a href="#"><%= val.hoTen %></a></h6>
                                        
                                        </td>
                                        <td>
                                            <%= val.ngayDK%>
                                        </td>
                                        <td>
                                                <%= ele.tenKH%>>
                                        </td>
                                        <td class="project-actions">
                                                <div class="dropdown">
                                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-cog"></i>
                                                        </a>
                                                      
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                          <a class="dropdown-item" href="#"><span>Xem thong tin </span></a>
                                                          <a class="dropdown-item" href="#"><span>Tiep nhan</span></a>
                                                          <a class="dropdown-item" href="#"><span>Huy</span></a>
                                                        </div>
                                                      </div>
                                        </td>
                                    </tr>
                                    <% })%>
                                    <% }%>
                                   <% })%>
                                   <% }%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>