<aside id="leftsidebar" class="sidebar h_menu">
    <div class="container">
        <div class="row clearfix">
            <div class="col-12">
                <div class="menu">
                    <ul class="list">
                        <li class="header">MAIN</li>
                        <li class="active open"> <a href="/partner"><span>Trang chính</span></a></li>
                        <li><a href="/partner/khoa-hoc" class="menu-toggle"><i class="fas fa-book-open"></i><span>Quản lý
                                    khóa học</span></a>
                        </li>
                        <li class="header">Quản lý đơn đăng ký</li>
                        <li><a href="/partner/don-dang-ky" class="menu-toggle"><i class="fas fa-clipboard-list"></i><span>Quản lý đơn
                                    đăng ký</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>