<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Danh sách bài viết
            </h6>
            <div class="element-box">
                <div class="col-lg-6 col-md-4 col-sm-12 text-right float-right">
                    <button class="mr-2 mb-2 btn btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal">
                        Thêm</button>
                    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg"
                        role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Thêm mới khóa học
                                    </h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                            aria-hidden="true"> &times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="float-left" for="">Tên bài viết</label><input
                                                class="form-control" placeholder="Nhập tên" name="tenKH" type="text">
                                        </div>
                                        <label class="float-left" for="">Nội dung</label>
                                        <div class="form-group">
                                            <textarea name="noiDung" id="them"
                                                placeholder="Nội dung khóa học"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="float-left" for="">Ảnh </label>
                                                    <div class="col-sm-12">
                                                        <input type="file" class="form-control form-control-sm"
                                                            name="banner">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="float-left" for="">Đào tạo</label>
                                                    <select class="form-control show-tick" name="danhMuc">
                                                        <option value="1">Ngắn hạn</option>
                                                        <option value="2">Dài hạn</option>
                                                        <option value="3">Trung cấp</option>
                                                        <option value="4">Cao đẳng</option>
                                                        <option value="5">Đại học</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="button">
                                                Thêm</button>
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                                Hủy</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên bài viết</th>
                                <th>Danh mục</th>
                                <th>Xử lý</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </button>

                                </div>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>